:root {
    --primary-color: #a70534;
}

input,
select,
textarea {
    border: 1.5px solid #edf2f7;
}

input:focus,
select:focus {
    border-color: var(--primary-color);
}

textarea:focus {
    border-color: var(--primary-color);
    background: #fff;
}

#borrower-button-container > div > button,
#security-button-container > div > button {
    border: solid 1.5px #1a202c;
}

#borrower-button-container > div > button.disable-button,
#security-button-container > div > button.disable-button {
    border: solid 1.5px #b5b5b5;
    color: #b5b5b5;
    cursor: not-allowed;
}

#borrower-button-container > div > button:hover,
#security-button-container > div > button:hover {
    border: solid 1.5px var(--primary-color);
    background: var(--primary-color);
    color: #fff;
}

#borrower-button-container > div > button.disable-button:hover,
#security-button-container > div > button.disable-button:hover {
    border: solid 1.5px #b5b5b5;
    background: #fff;
    color: #b5b5b5;
}

#caseflow-section {
    background: var(--primary-color);
}

#caseflow-tabs li {
    background: #5a5a5a;
    color: #fff;
    margin-bottom: 4px;
}

#caseflow-tabs #tab-8 {
    background: #0172c8;
    color: #fff;
}

#caseflow-tabs #tab-9 {
    background: #c8aa01;
    color: #fff;
    margin-top: -4px;
    border-right: 4px solid #1a202c;
    border-top: 4px solid #1a202c;
    border-bottom: 4px solid #1a202c;
}

#caseflow-tabs li:hover {
    background: #fff;
    color: #1a202c;
    cursor: pointer;
}

#caseflow-tabs #tab-8:hover {
    background: #fff;
    color: #0172c8;
}

#caseflow-tabs li.selected-tab {
    background: #fff;
    color: #1a202c;
    margin-bottom: 0px;
}

#caseflow-tabs #tab-8.selected-tab {
    background: #fff;
    color: #0172c8;
}

/* Checklist & Radio */

.control {
    font-size: 1rem;
    position: relative;
    display: block;
    margin-bottom: 0.3rem;
    padding-left: 2rem;
    cursor: pointer;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    background: #edf2f7;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #c6c6c6;
}

/* Checked state */
.control input:checked ~ .control__indicator {
    background: #4a5568;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: 0.6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: "";
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

#discrepancy-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Focus tab 9 */
.focus-tab-9 {
    z-index: 2;
    background-color: #fff !important;
    color: #c8aa01 !important;
}

/* Discrepancy content */
#discrepancy-content {
    background-color: #fff;
    width: 80%;
    position: relative;
}

/* The Close Button */
#close-discrepancy {
    font-size: 28px;
    font-weight: bold;
    top: 0;
    right: 0;
    margin-right: 15px;
    position: absolute;
}

#close-discrepancy:hover,
#close-discrepancy:focus {
    text-decoration: none;
    cursor: pointer;
}
